.body {
    background-color: #55C7EC;
    max-width: 1100px;
    margin: 0 auto;
}
#menu {
    display: flex;
    align-items: center;
    background-color: #7AD1DB;
}
.menu{
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    top: 0;
    width: 100%;
    flex-wrap: wrap;
}
.logo{
    flex: 1 1 auto;
}

.container {
    width: 96%;
    max-width: 1100px;
    margin: 0 auto;
}
.indoor-container {
    width: 1100px; 
    height:400px;
    max-width: 100%; 
    max-height: 100%;
}

#home {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    padding: 10px 0;
}

.home-text{
    display: flex;
}

#container {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.photo {
    width: 150px;
    height: 200px;
    max-width: 60%;
    max-height:30%;
}

#home{
    position: absolute;
    right: 0px;
    width: 200px
}

#service{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

#photo{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

